# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

- task: JavaToolInstaller@0
  displayName: 'Use Java 11'
  inputs:
    versionSpec: 11
    jdkArchitectureOption: x64
    jdkSourceOption: PreInstalled


- task: UsePythonVersion@0
  displayName: 'Use Python 3.9.x'
  inputs:
    versionSpec: 3.9.x

- bash: |
   python3.9 -m venv worker_venv
   source worker_venv/bin/activate
   pip3.9 install setuptools
   pip3.9 install -r requirements.txt
   
  workingDirectory: '$(System.DefaultWorkingDirectory)'
  displayName: 'Install Application Dependencies'


- script: |
   curl -LJO https://github.com/whitesource/unified-agent-distribution/releases/latest/download/wss-unified-agent.jar
   
  displayName: 'Download Unified Jar file'
  enabled: false

- script: 'java -jar wss-unified-agent.jar -c wss-unified-agent.config -apikey $(apikey) -userkey $(userkey)'
  displayName: 'Run WhiteSource agent'
  enabled: false

- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
